@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #16a085;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgb(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgb(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

p {
  text-align: justify;
}

section:nth-child(even) {
  background-color: #f5f5f5;
}

section .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--box-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--green);
  color: #fff;
  margin-left: 0.5rem;
}

.btn:hover {
  background-color: var(--green);
  color: #fff;
}

.btn:hover span {
  color: var(--green);
  background-color: #fff;
  margin-left: 1rem;
}

.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .logo i {
  color: var(--green);
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--green);
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.Trangchu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.Trangchu .image {
  flex: 1 1 55rem;
}

.Trangchu .image img {
  width: 100%;
  height: 450px;
  border-radius: 30px;
}

.Trangchu .content {
  flex: 1 1 45rem;
}

.Trangchu .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.5;
  text-shadow: var(--text-shadow);
}

.Trangchu .content p {
  font-size: 1.75rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: 0.7rem;
}

.icons-container .icons h3 {
  font-size: 4.5rem;
  color: var(--black);
  padding: 0.5rem 0;
  text-shadow: var(--box-shadow);
}

.icons-container .icons p {
  font-size: 1.7rem;
  color: var(--light-color);
}

.Dichvu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.Dichvu .box-container .box {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.Dichvu .box-container .box i {
  color: var(--green);
  font-size: 5rem;
}

.Dichvu .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.Dichvu .box-container .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.khammp .row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.khammp .row .image {
  flex: 1 1 45rem;
}

.khammp .row .image img {
  width: 100%;
  border-radius: 30px;
}

.khammp .row .content {
  flex: 1 1 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.khammp .heading {
  position: relative;
  z-index: 1;
}

.khammp .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 3.8rem;
  line-height: 1.8;
}

.khammp .row .content p {
  color: var(--black);
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.8;
}

.khammp .row .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.khammp .row .content ul li {
  flex: 1 1 100%;
  margin-left: 4rem;
  font-size: 2.1rem;
  line-height: 35px;
}

.contact .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  background: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
}

.contact .icons-container .icons i {
  font-size: 5rem;
  color: var(--green);
  padding-bottom: 0.7rem;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.6rem;
  color: var(--light-color);
  line-height: 1.8;
}

footer {
  background: #333;
  text-align: center;
  padding: 1rem 0;
}

footer .credit {
  font-size: 1.9rem;
  color: #fff;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: var(--green);
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  #menu-btn {
    display: inline-block;
    z-index: 10000;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    width: 30rem;
    transform: scale(0);
    opacity: 0;
  }

  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
  }

  .header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    font-size: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .Trangchu .content h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 4rem;
  }

  .Trangchu .content h3 {
    font-size: 2.5rem;
  }

  .icons-container {
    grid-template-columns: 1fr;
  }

  .doctors .box-container {
    grid-template-columns: 1fr;
  }

  .capcuu .row .content h3 {
    font-size: 3rem;
  }
}

.khammp .row .content ul li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
}

.khammp .row .content ul li::before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--green);
}
